/**
* Lucas Lumeij - 10353062
*
* This css determines the style of the elements that are associated with the map
* visualization on linked.html.
*/

#map {
    border: 1px solid rgb(0, 20, 137);
}

#mapTitle {
    font-size: 15px;
    font-weight: bold;
    text-anchor: middle;
}

#mapSubtitle {
    font-size: 13px;
    text-anchor: middle;
}

#mapSource {
    font-size: 13px;
    text-anchor: middle;
    fill: rgb(0, 0, 255);
}

#mapSource:hover {
    cursor: pointer;
    opacity: 0.5;
}

.union:hover {
  cursor: pointer;
  opacity: 0.5;
}

.notUnion {
    fill: rgb(211, 211, 211);
}
