#container {
    width: 1210px;
}

.map {
    border: 1px solid #002395;
}

#mapTitle {
    font-family: Calibri;
    font-size: 40px;
    font-weight: bold;
    text-anchor: middle;
}

.union:hover {
  fill: rgba(8, 81, 156, 0.2);
  cursor:pointer;
}

.notUnion {
    fill: lightgrey;
}

.mapBar:hover {
    fill: rgb(254, 221, 0);
    cursor: pointer;
}

.bar {
    fill: #4d708c;
}

.bar:hover {
    fill: #83b5c1;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #002395;
    padding: 14px;
    text-align: center;
}
