/**
* Lucas Lumeij - 10353062
*
* This css determines the style of the elements that are associated with the
* barchart visualization on linked.html.
*/

#barTitle {
    font-size: 18px;
    font-weight: bold;
    text-anchor: middle;
}

#barSubtitle {
    font-size: 15px;
    text-anchor: middle;
}

#barSource {
    font-size: 15px;
    text-anchor: middle;
    fill: rgb(0, 0, 255);
}

#barSource:hover {
    cursor: pointer;
    opacity: 0.5;
}

.axisText {
  font-size: 15px;
  text-anchor: middle;
}

.bar {
    fill: rgb(77, 112, 140);
}

.bar:hover {
    opacity: 0.5;
}
