/**
* Lucas Lumeij - 10353062
*
* This css determines the style of the overall elements of linked.html.
*/

body {
    font-family: Calibri;
}

.frame {
    position: relative;
    top: 10px;
}
#header {
    font-weight: bold;
    font-size: 25px;
}

#container {
    width: 1210px;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 rgba(255,255,255, 0.5);
    border: 1px solid rgba(0, 20, 137);
    padding: 14px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: rgba(0, 20, 137);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: 	rgb(255,255,255);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(254, 221, 0);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(211, 211, 211);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(220,220,220);
}

.dropdown:hover .dropdown-content {
    display: block;
}
