/**
* Lucas Lumeij - 10353062
*/

body {
    font-family: 'Pathway Gothic One', sans-serif;
    text-anchor: middle;
}

.info {
    position: relative;
    left: 10px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

#plotTitle {
    font-size: 25px;
    font-weight: bold;
}

#legendTitle {
    font-weight: bold;
    text-anchor: end;
}

#sizeLegend {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-anchor: end;
}

.axisTitle{
    font-size: 20px;
}

circle {
    stroke: black;
    stroke-width: 1;
    opacity: 0.75;
}

rect {
    opacity: 0.75;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  pointer-events: none;
}
